$cl-bg-editable: #c2d6d6;
$cl-bg-static: #4fa1a1;
$cl-bg-focus: rgb(103, 103, 166);
$cl-bg-button: #99a2af;
$cl-bg-button-active: #8a8ae5;
$cl-bg-breakpoint: #ff0000;
$cl-txt: black;
$cl-border: black;
$border-size: 2px;

maincontainer{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  & th {
    font-weight: 400;
  }
}

@mixin tablebase {
  input {
    border: none;
    //min-height: 1.7em;

    &:focus {
      outline: none;
    }
  }
}

.table-d8097de {
  border-collapse: collapse;
  border: $border-size solid $cl-border;
}

.tablecell-d8097de {
  border: $border-size solid $cl-border;
  text-align: center;
  background-color: $cl-bg-editable;
  color: $cl-txt;
  @include tablebase;
  input {
    //height: 100%;
    //padding: 0.1rem;
    text-align: inherit;
    background-color: inherit;
    color: inherit;
  }
}

.tableleft-d8097de {
  background-color: $cl-bg-static;
  border: $border-size solid $cl-border;
  text-align: left;
  color: $cl-txt;
  @include tablebase;
  input {
    text-align: inherit;
    color: inherit;
  }
}

.tabletop-d8097de {
  background-color: $cl-bg-static;
  border: $border-size solid $cl-border;
  text-align: center;
  color: $cl-txt;
  @include tablebase;
}

.tablebutton-d8097de {
  user-select: none;
  background-color: $cl-bg-button;
  border: $border-size solid $cl-border;
  text-align: center;
  color: $cl-txt;
  @include tablebase;
  &:active {
    background-color: $cl-bg-button-active;
  }
}

.tablebuttoninvert-d8097de {
  user-select: none;
  background-color: $cl-bg-button-active;
  border: $border-size solid $cl-border;
  text-align: center;
  color: $cl-txt;
  @include tablebase;
  &:active {
    background-color: $cl-bg-button;
  }
}

.colorfocus-d8097de {
  background-color: $cl-bg-focus;
}

.breakpoint-d8097de {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: $cl-bg-breakpoint;
}

.tablecount-d8097de {
  background-color: $cl-bg-editable;
  @include tablebase;
}
