$cl-bg-editable: #a0ff82;
$cl-bg-static: #01ab70;

$cl-txt: black;
$cl-border: black;
$border-size: 2px;

@mixin tablebase {
  input {
    border: none;
    //min-height: 1.7em;

    &:focus {
      outline: none;
    }
  }
}

.memtable {
  border-collapse: collapse;
  border: $border-size solid $cl-border;
}

.tablecell {
  @include tablebase;
  border: $border-size solid $cl-border;
  text-align: center;
  background-color: $cl-bg-editable;
  color: $cl-txt;

  input {
    //height: 100%;
    //padding: 0.1rem;
    text-align: inherit;
    background-color: inherit;
    color: inherit;
  }
}

.tableleft {
  @include tablebase;
  background-color: $cl-bg-static;
  border: $border-size solid $cl-border;
  text-align: left;
  color: $cl-txt;
  input {
    text-align: inherit;
    color: inherit;
  }
}

.tablecount {
  @include tablebase;
  background-color: $cl-bg-editable;
}

.tabletop {
  @include tablebase;
  background-color: $cl-bg-static;
  border: $border-size solid $cl-border;
  text-align: center;
  color: $cl-txt;
}