//define variable
$cl-bg: black;
$cl-txt: white;
$cl-border-right: #000070;
$cl-border-bottom: #6b0b0b;
$border-size: 2px;


.tablecell {
  text-align: center;
  background-color: $cl-bg;
  color: $cl-txt;
  border: none;
  border-right: $border-size solid $cl-border-right;
  border-bottom: $border-size solid $cl-border-bottom;
  height:1.7em;
}

.tablecell:focus {
  outline: none;
}